@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Karla:wght@700&family=Poppins:wght@500&family=Quicksand&family=Roboto:wght@500&display=swap");

body{
    background-color: #121212;
}

.profile {
    height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.profile .title {
  margin-top: 20px;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 30px;
  background-color: #006eb7;
  color: white;
  border-radius: 5px;
  opacity: 1;
  padding: 0px 9px;
}

.profile > Table {
  background-color: white;
  width: 900px;
}

.profile .buttons{
    display: flex;
    gap: 20px;
}
